.loginDesign {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(111, 163, 202);
}

.headerloginDesign {
  height: 30vh;
  width: 100vw;

  background: rgb(111, 163, 202);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.loginBody {
  height: 50vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

}

.loginBody1{
  height: 50vh;
  width: 50vw;
  padding: 1em;
  display: flex;
  justify-content: end;
  align-items: center;
  border: solid;
  border-color: rgb(205, 200, 200);
  border-right-width: 0.1em;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}
.loginBody2{
  height: 50vh;
  width: 50vw;
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 1em;

}
.loginBody3{
  width: 40vw;
  display: flex;
  align-items: flex-start;

}

.loginFooter {
  height: 20vh;
  width: 100vw;
}

.loginButton {

  height: 3.5em;

  width: 10em;

  background-color: lightsalmon;
  border-radius: 0.4em;
  transition: 0.4s;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.customButtonHeaderDesign {

  height: 2.2em;
  width: 7em;

  border-radius: 0.5em;
  border: solid 0.1em;
  border-color: rgb(61, 88, 139);
  background-color: white;
  color: black;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  margin-top: 1em;
  margin-left: 1em;
}

.customButtonHeaderDesign:hover {

  cursor: pointer;
  transition: 0.2s;
  background-color: rgb(61, 88, 139);
  border: solid 0.1em;
  border-color: white;

  height: 2.3em;
  width: 7em;
}

.inputError {
  width: 20vw;

}

.menuInputHeader {
  width: 50vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: solid;
  border-color: rgb(205, 200, 200);
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0.1em;
}

.registerHeader {
  width: 70vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.loginButton:hover {

  cursor: pointer;
  background-color: red;
  transition: 0.4s;
}

.menu2 {
  width: 70vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 0.5em;
}

.errorHeader {
  height: 2vh;
  color: red;
  font-size: small;
  font-weight: bold;
  margin-left: 1em;
  height: 1vh;
}

.inputError {
  width: 20vw;
  margin-top: 2em;
}

.inputDesign1 {
  height: 3em;
  width: 18em;

  border: 0.1em solid black;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  background-color: white;
  color: black;
}
.imgLogin{
  height: 20vh;

}