
.navigateRegisterDesign {
    color: white;

    transition: 0.4s;
    font-size: large;
    margin-top: 0.5em;
    margin-right: 0.1em;
}

.navigateRegisterDesign:hover {
    cursor: pointer;
    
    transition: 0.4s;
    color: black;
    font-size: large;
}