.detailPostDesign {
    height: auto;
    width: 98.5vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-color: white;
    
}

.timelineCardDesign2 {
    height: 92vh;
    width: 50vw;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    opacity: 90%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    font-size: 1.2vw !important;
    overflow: hidden;
    cursor: pointer;
}

.title {
    font-weight: bold;
}

.bodyTimeline {
    width: 40vw;
    font-size: small;
    margin: 0.5em;
}

.likesTimeline {
    width: 10vw;
    color: black;
    font-weight: bold;
}

.timelineLeft {
    width: 24.5vw;
    height: 94vh;
    margin-top: 7vh;
    position: fixed;
    left: 0%;
}

.timelineLeftUp {
    width: 23.5vw;
    height: 40vh;
    border-radius: 0.5em;
    border-width: 0.05em;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    opacity: 90%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vh;
    left: 0%;
}

.timelineLeftDown {
    width: 23.5vw;
    height: 50vh;
    border-radius: 0.5em;
    border-width: 0.05em;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    opacity: 90%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vh;
    margin-top: 0.5vw;
    left: 0%;
}

.timelineRight2 {
    width: 22.5vw;
    height: 91vh;
    margin-top: 7vh;
    border-radius: 0.5em;
    border-width: 0.05em;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    opacity: 90%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1vh;
    position: fixed;
    right: 0.3%;
}

.timelineCenter {
    width: 50vw;
    height: 100%;
    margin-top: 6vh;
}

.timelineProfileUp {
    width: 23.5vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchUsers,
.searchUsers2 {
    width: 22vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.userSearched,
.userSearched2 {

    border-radius: 0.5em;
    border-width: 0.05em;
    border-style: solid;
    border-color: black;
    margin-top: 0.5em;
    width: 22vw;
    height: 8vh;
    display: flex;
    justify-content: start;
    align-items: center;

}

.test1,
.test12 {
    width: 4vw;
    height: 7vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.test2,
.test22 {
    width: 4vw;
    height: 6vh;
    margin-top: 0.3em;
}

.test3,
.test32 {
    width: 10vw;
    height: 7vh;

    margin-left: 1vw;
    margin-top: 0.3em;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;

}

.test4,
.test42 {
    width: 5vw;
    height: 7vh;

    margin-left: 1vw;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
}
.timelineRightUp{
    height: 4vh;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.timelineRightDown{
    height: 90vh;

}
.imagePost{
    width: 20vw;
    height: 20vh;
}