.adminDesign {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.adminUsersCard {
    height: 40vh;
    width: 20vw;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5em;

}
.adminPostsCard {
    height: 40vh;
    width: 20vw;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
    cursor: pointer;
}
.image3Post{

    height: 40vh;
    cursor: pointer;
}